<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<table class="table table-bordered">
  <div class="panel panel-default">
    <div class="panel-heading">Employee Entry Form : You can add an employee's detail information into this EMS Apps.</div>
    <div class="panel-body">
      <form class="form-horizontal" (submit)="addEmployee()"></form>
      <form class="form-horizontal" (submit)="addEmployee()">
          <div class="form-group">
              <label for="emp_name" class="col-sm-2 control-label">Employee's Full Name: </label>
              <div class="col-sm-9">
                <input type="text" class="form-control"  [(ngModel)]="model.name" name="name" >
              </div>
            </div>
            <div class="form-group">
              <label for="position" class="col-sm-2 control-label">Job Position : </label>
              <div class="col-sm-9">
                <input type="text" class="form-control"  [(ngModel)]="model.position" name="position">
              </div>
            </div>
            <div class="form-group">
              <label for="department" class="col-sm-2 control-label">Department Name : </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="model.department" name="department">
              </div>
            </div>
            <div class="form-group">
              <label for="salary" class="col-sm-2 control-label">Start_time : </label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="model.start_time" name="start_time">
              </div>
            </div>
            <div class="form-group">
              <label for="salary" class="col-sm-2 control-label">End_time :</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="model.end_time" name="end_time">
              </div>
            </div>
            
          
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-success">Save</button>
                 <a class="btn btn-info" (click)="goBack()">Cancel</a>
              </div>
             
          </div>
      </form>

    </div>
  </div>
