
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Position</td>
      <td>Department</td>
      <td>Start_time</td>
      <td>End_time</td>
      <td>Worked hours</td>
      <td width="275" align="center">Created_time</td>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.position}}</td>
      <td>{{employee.department}}</td>
      <td>{{employee.start_time}}</td>
      <td>{{employee.end_time}}</td>
      <td>{{employee.end_time - employee.start_time}}</td>
      <td>{{employee.createdDate}}</td>
      <td width="275">
        <a class="btn btn-info" routerLink="/show/{{employee._id}}">Detail</a>
        <a class="btn btn-success" routerLink="/edit/{{employee._id}}">Edit</a>
        <a class="btn btn-danger" (click)="deleteEmployee(employee._id)">Delete</a>
      </td>

    </tr>

  </tbody>
</table>

